wordpress:
  wordpressUsername: admin
  wordpressScheme: https
  allowEmptyPassword: false
  resourcesPreset: small
  existingSecret: "wp-mg-secrets"

  readinessProbe:
    httpGet:
      httpHeaders:
        - name: X-Forwarded-Proto
          value: https
  service:
    type: ClusterIP

  ingress:
    enabled: false  # Migrated to Gateway API HTTPRoute
    ingressClassName: nginx
    hostname: www.mattgerega.com
    annotations: { nginx.ingress.kubernetes.io/proxy-body-size: 50M }
  persistence:
    enabled: true
    storageClass: "nfs-client"
  metrics:
    enabled: false
  mariadb:
    auth:
      existingSecret: "wp-mg-dbsecrets"
    primary:
      resourcesPreset: small
      livenessProbe:
        initialDelaySeconds: 600
      readinessProbe:
        initialDelaySeconds: 600
      persistence:
        storageClass: "nfs-client"
