route:
  main:
    hostnames:
    - nodered.mattgerega.net
    kind: HTTPRoute
    enabled: true
    rules:
    - backendRefs:
      - group: ""
        kind: Service
        identifier: main
        port: 1880
        weight: 1
      matches:
      - path:
          value: /
          type: PathPrefix
    parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: envoy-gateway-system
      name: main
service:
  main:
    ports:
      http:
        port: 1880
        primary: true
        enabled: true
    primary: true
    type: ClusterIP
    controller: main
persistence:
  data:
    accessMode: ReadWriteMany
    storageClass: nfs-client
    type: persistentVolumeClaim
    enabled: true
    size: 2Gi
controllers:
  main:
    enabled: true
    containers:
      main:
        image:
          repository: nodered/node-red
          pullPolicy: IfNotPresent
          tag: 4.1.4
        env:
          TZ: America/New_York
          NODE_RED_ENABLE_SAFE_MODE: 
          FLOWS: flows.json
          NODE_RED_ENABLE_PROJECTS: 
          NODE_OPTIONS: 
        strategy:
          type: Recreate
        probes:
          startup:
            enabled: true
            custom: false
            type: TCP
            spec:
              timeoutSeconds: 1
              failureThreshold: 30
              initialDelaySeconds: 0
              periodSeconds: 5
          readiness:
            enabled: true
            custom: false
            type: TCP
            spec:
              timeoutSeconds: 1
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
          liveness:
            enabled: true
            custom: false
            type: TCP
            spec:
              timeoutSeconds: 1
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
    strategy: Recreate
    type: deployment
    replicas: 1
    revisionHistoryLimit: 3

