service:
  main:
    controller: main
    ports:
      http:
        primary: true
        enabled: true
        port: 1880
    primary: true
    type: ClusterIP
persistence:
  data:
    accessMode: ReadWriteMany
    enabled: true
    size: 2Gi
    type: persistentVolumeClaim
    storageClass: nfs-client
route:
  main:
    rules:
    - matches:
      - path:
          value: /
          type: PathPrefix
      backendRefs:
      - weight: 1
        group: ""
        identifier: main
        kind: Service
        port: 1880
    hostnames:
    - nodered.mattgerega.net
    enabled: true
    parentRefs:
    - kind: Gateway
      namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
      name: main
    kind: HTTPRoute
controllers:
  main:
    replicas: 1
    enabled: true
    type: deployment
    containers:
      main:
        image:
          repository: nodered/node-red
          tag: 4.1.2
          pullPolicy: IfNotPresent
        env:
          NODE_OPTIONS: 
          NODE_RED_ENABLE_SAFE_MODE: 
          NODE_RED_ENABLE_PROJECTS: 
          FLOWS: flows.json
          TZ: America/New_York
        probes:
          startup:
            custom: false
            spec:
              failureThreshold: 30
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
            enabled: true
            type: TCP
          liveness:
            custom: false
            spec:
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
            enabled: true
            type: TCP
          readiness:
            custom: false
            spec:
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
            enabled: true
            type: TCP
        strategy:
          type: Recreate
    strategy: Recreate
    revisionHistoryLimit: 3

