service:
  main:
    ports:
      http:
        enabled: true
        primary: true
        port: 1880
    primary: true
    controller: main
    type: ClusterIP
controllers:
  main:
    revisionHistoryLimit: 3
    type: deployment
    containers:
      main:
        env:
          NODE_RED_ENABLE_PROJECTS: 
          FLOWS: flows.json
          NODE_RED_ENABLE_SAFE_MODE: 
          TZ: America/New_York
          NODE_OPTIONS: 
        image:
          tag: 4.1.3
          repository: nodered/node-red
          pullPolicy: IfNotPresent
        probes:
          startup:
            enabled: true
            custom: false
            type: TCP
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              timeoutSeconds: 1
              periodSeconds: 5
          liveness:
            enabled: true
            custom: false
            type: TCP
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
              periodSeconds: 10
          readiness:
            enabled: true
            custom: false
            type: TCP
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
              periodSeconds: 10
        strategy:
          type: Recreate
    replicas: 1
    strategy: Recreate
    enabled: true
persistence:
  data:
    storageClass: nfs-client
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
    size: 2Gi
    enabled: true
route:
  main:
    enabled: true
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - identifier: main
        port: 1880
        group: ""
        weight: 1
        kind: Service
    hostnames:
    - nodered.mattgerega.net
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      name: main
      kind: Gateway
    kind: HTTPRoute

