route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: main
        namespace: envoy-gateway-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - nodered.mattgerega.net
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - identifier: main
            port: 1880
service:
  main:
    ports:
      http:
        port: 1880
        primary: true
        enabled: true
    controller: main
    primary: true
    type: ClusterIP
controllers:
  main:
    enabled: true
    type: deployment
    strategy: Recreate
    containers:
      main:
        env:
          TZ: America/New_York
          NODE_RED_ENABLE_PROJECTS: 
          NODE_RED_ENABLE_SAFE_MODE: 
          FLOWS: flows.json
          NODE_OPTIONS: 
        strategy:
          type: Recreate
        image:
          tag: 4.1.1
          repository: nodered/node-red
          pullPolicy: IfNotPresent
        probes:
          startup:
            type: TCP
            spec:
              timeoutSeconds: 1
              failureThreshold: 30
              periodSeconds: 5
              initialDelaySeconds: 0
            custom: false
            enabled: true
          liveness:
            type: TCP
            spec:
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
              initialDelaySeconds: 0
            custom: false
            enabled: true
          readiness:
            type: TCP
            spec:
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
              initialDelaySeconds: 0
            custom: false
            enabled: true
    replicas: 1
    revisionHistoryLimit: 3
persistence:
  data:
    enabled: true
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    size: 2Gi
    storageClass: nfs-client

