service:
  main:
    controller: main
    primary: true
    ports:
      http:
        primary: true
        enabled: true
        port: 1880
    type: ClusterIP
route:
  main:
    enabled: true
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - group: ""
        identifier: main
        port: 1880
        kind: Service
        weight: 1
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
      name: main
    kind: HTTPRoute
    hostnames:
    - nodered.mattgerega.net
persistence:
  data:
    size: 2Gi
    accessMode: ReadWriteMany
    storageClass: nfs-client
    type: persistentVolumeClaim
    enabled: true
controllers:
  main:
    enabled: true
    strategy: Recreate
    revisionHistoryLimit: 3
    replicas: 1
    type: deployment
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          tag: 4.1.2
          repository: nodered/node-red
        strategy:
          type: Recreate
        probes:
          startup:
            custom: false
            type: TCP
            enabled: true
            spec:
              periodSeconds: 5
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 30
          readiness:
            custom: false
            type: TCP
            enabled: true
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
          liveness:
            custom: false
            type: TCP
            enabled: true
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
        env:
          NODE_RED_ENABLE_SAFE_MODE: 
          TZ: America/New_York
          NODE_OPTIONS: 
          FLOWS: flows.json
          NODE_RED_ENABLE_PROJECTS: 

