controllers:
  main:
    revisionHistoryLimit: 3
    enabled: true
    type: deployment
    strategy: Recreate
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        image:
          pullPolicy: IfNotPresent
          repository: nodered/node-red
          tag: 4.1.5
        env:
          TZ: America/New_York
          NODE_RED_ENABLE_SAFE_MODE: 
          NODE_RED_ENABLE_PROJECTS: 
          NODE_OPTIONS: 
          FLOWS: flows.json
        probes:
          readiness:
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
            type: TCP
            enabled: true
          liveness:
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
            type: TCP
            enabled: true
          startup:
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
            type: TCP
            enabled: true
route:
  main:
    kind: HTTPRoute
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
      name: main
    enabled: true
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - weight: 1
        kind: Service
        identifier: main
        group: ""
        port: 1880
    hostnames:
    - nodered.mattgerega.net
persistence:
  data:
    accessMode: ReadWriteMany
    enabled: true
    type: persistentVolumeClaim
    size: 2Gi
    storageClass: nfs-client
service:
  main:
    type: ClusterIP
    controller: main
    primary: true
    ports:
      http:
        enabled: true
        primary: true
        port: 1880

