controllers:
  main:
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
    replicas: 1
    strategy: Recreate
    containers:
      main:
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: proget-secrets
        probes:
          readiness:
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
            type: TCP
            enabled: true
            custom: false
          liveness:
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
            type: TCP
            enabled: true
            custom: false
          startup:
            spec:
              periodSeconds: 5
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 30
            type: TCP
            enabled: true
            custom: false
        image:
          repository: proget.inedo.com/productimages/inedo/proget
          pullPolicy: IfNotPresent
          tag: 25.0.17
route:
  main:
    rules:
    - backendRefs:
      - kind: Service
        weight: 1
        port: 80
        group: ""
        name: proget-main
      matches:
      - path:
          value: /
          type: PathPrefix
    enabled: true
    hostnames:
    - proget.mattgerega.com
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
      name: main
    kind: HTTPRoute
service:
  main:
    ports:
      http:
        port: 80
        primary: true
        enabled: true
    controller: main
    primary: true
    type: ClusterIP
persistence:
  packages:
    emptyDir:
      enabled: false
    type: persistentVolumeClaim
    enabled: true
    existingClaim: progetdata-claim
    globalMounts:
    - path: /var/proget/packages
      readOnly: false

