service:
  main:
    controller: main
    type: ClusterIP
    primary: true
    ports:
      http:
        primary: true
        enabled: true
        port: 80
route:
  main:
    hostnames:
    - proget.mattgerega.com
    enabled: true
    kind: HTTPRoute
    parentRefs:
    - namespace: envoy-gateway-system
      kind: Gateway
      name: main
      group: gateway.networking.k8s.io
    rules:
    - backendRefs:
      - group: ''
        kind: Service
        name: proget-main
        port: 80
        weight: 1
      matches:
      - path:
          value: /
          type: PathPrefix
controllers:
  main:
    strategy: Recreate
    enabled: true
    replicas: 1
    type: deployment
    containers:
      main:
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: proget-secrets
        image:
          repository: proget.inedo.com/productimages/inedo/proget
          pullPolicy: IfNotPresent
          tag: 25.0.16
        probes:
          startup:
            custom: false
            spec:
              periodSeconds: 5
              initialDelaySeconds: 0
              failureThreshold: 30
              timeoutSeconds: 1
            enabled: true
            type: TCP
          liveness:
            custom: false
            spec:
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
            enabled: true
            type: TCP
          readiness:
            custom: false
            spec:
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
            enabled: true
            type: TCP
    revisionHistoryLimit: 3
persistence:
  packages:
    existingClaim: progetdata-claim
    enabled: true
    type: persistentVolumeClaim
    emptyDir:
      enabled: false
    globalMounts:
    - path: /var/proget/packages
      readOnly: false

