controllers:
  main:
    containers:
      main:
        probes:
          startup:
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 5
              initialDelaySeconds: 0
              failureThreshold: 30
            type: TCP
            custom: false
          liveness:
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
            type: TCP
            custom: false
          readiness:
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
            type: TCP
            custom: false
        image:
          tag: 25.0.15
          repository: proget.inedo.com/productimages/inedo/proget
          pullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: proget-secrets
        strategy:
          type: Recreate
    type: deployment
    enabled: true
    replicas: 1
    strategy: Recreate
    revisionHistoryLimit: 3
ingress:
  main:
    hosts:
    - paths:
      - pathType: Prefix
        path: /
        service:
          port: http
          identifier: main
      host: proget.mattgerega.com
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kuberenetes.io/proxy-connect-timeout: "3600"
      nginx.ingress.kuberenetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kuberenetes.io/proxy-send-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-body-size: 500M
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
persistence:
  packages:
    emptyDir:
      enabled: false
    type: persistentVolumeClaim
    enabled: true
    existingClaim: progetdata-claim
    globalMounts:
    - readOnly: false
      path: /var/proget/packages
service:
  main:
    type: ClusterIP
    primary: true
    controller: main
    ports:
      http:
        port: 80
        enabled: true
        primary: true

