controllers:
  main:
    containers:
      main:
        probes:
          startup:
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 5
              initialDelaySeconds: 0
              failureThreshold: 30
            type: TCP
            custom: false
          liveness:
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
            type: TCP
            custom: false
          readiness:
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
            type: TCP
            custom: false
        image:
          tag: 25.0.15
          repository: proget.inedo.com/productimages/inedo/proget
          pullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: proget-secrets
        strategy:
          type: Recreate
    type: deployment
    enabled: true
    replicas: 1
    strategy: Recreate
    revisionHistoryLimit: 3
route:
  main:
    enabled: true
    kind: HTTPRoute
    parentRefs:
      - name: main
        namespace: envoy-gateway-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - proget.mattgerega.com
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - name: proget-main
            port: 80
persistence:
  packages:
    emptyDir:
      enabled: false
    type: persistentVolumeClaim
    enabled: true
    existingClaim: progetdata-claim
    globalMounts:
    - readOnly: false
      path: /var/proget/packages
service:
  main:
    type: ClusterIP
    primary: true
    controller: main
    ports:
      http:
        port: 80
        enabled: true
        primary: true

