controllers:
  main:
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
        image:
          repository: busybox
          tag: 1.36
    replicas: 1
    containers:
      main:
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        probes:
          startup:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 30
              periodSeconds: 5
            custom: false
            enabled: true
            type: TCP
          readiness:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
            custom: false
            enabled: true
            type: TCP
          liveness:
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              failureThreshold: 3
              periodSeconds: 10
            custom: false
            enabled: true
            type: TCP
        image:
          repository: n8nio/n8n
          tag: 2.3.5
          pullPolicy: IfNotPresent
        strategy:
          type: Recreate
    revisionHistoryLimit: 3
    strategy: Recreate
    type: deployment
    enabled: true
  postgres:
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        envFrom:
        - secretRef:
            name: postgres-secrets
        image:
          repository: postgres
          tag: 17
          pullPolicy: IfNotPresent
    revisionHistoryLimit: 3
    strategy: Recreate
    type: deployment
    enabled: true
configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
  n8n:
    data:
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
    enabled: true
route:
  main:
    rules:
    - backendRefs:
      - kind: Service
        weight: 1
        port: 5678
        group: ""
        identifier: main
      matches:
      - path:
          value: /
          type: PathPrefix
    kind: HTTPRoute
    parentRefs:
    - name: main
      namespace: envoy-gateway-system
      kind: Gateway
      group: gateway.networking.k8s.io
    hostnames:
    - n8n.mattgerega.com
    enabled: true
service:
  main:
    ports:
      http:
        port: 5678
        primary: true
        enabled: true
    controller: main
    primary: true
    type: ClusterIP
  postgres:
    ports:
      postgres:
        port: 5432
        enabled: true
    controller: postgres
    primary: false
    type: ClusterIP
persistence:
  data:
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    accessMode: ReadWriteMany
    size: 2Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
    enabled: true
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    identifier: postgres-init-data
    enabled: true
    type: configMap
  postgres-secrets:
    name: postgres-secrets
    enabled: true
    type: secret
  postgres-data:
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    accessMode: ReadWriteMany
    size: 300Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
    enabled: true

