service:
  postgres:
    controller: postgres
    primary: false
    ports:
      postgres:
        enabled: true
        port: 5432
    type: ClusterIP
  main:
    controller: main
    primary: true
    ports:
      http:
        enabled: true
        primary: true
        port: 5678
    type: ClusterIP
persistence:
  postgres-secrets:
    enabled: true
    name: postgres-secrets
    type: secret
  postgres-data:
    size: 300Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    accessMode: ReadWriteMany
  postgres-init-data:
    enabled: true
    type: configMap
    identifier: postgres-init-data
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
  data:
    size: 2Gi
    storageClass: nfs-client
    type: persistentVolumeClaim
    enabled: true
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    accessMode: ReadWriteMany
controllers:
  postgres:
    strategy: Recreate
    type: deployment
    revisionHistoryLimit: 3
    enabled: true
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
        envFrom:
        - secretRef:
            name: postgres-secrets
  main:
    strategy: Recreate
    type: deployment
    revisionHistoryLimit: 3
    enabled: true
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        image:
          tag: 1.36
          repository: busybox
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        probes:
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              timeoutSeconds: 1
              initialDelaySeconds: 0
              periodSeconds: 5
            custom: false
            type: TCP
          readiness:
            enabled: true
            spec:
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
              periodSeconds: 10
            custom: false
            type: TCP
          liveness:
            enabled: true
            spec:
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
              periodSeconds: 10
            custom: false
            type: TCP
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        image:
          pullPolicy: IfNotPresent
          tag: 1.120.3
          repository: n8nio/n8n
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
  n8n:
    enabled: true
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /
      nginx.ingress.kubernetes.io/proxy-body-size: 500M
    hosts:
    - paths:
      - service:
          port: http
          identifier: main
        pathType: Prefix
        path: /
      host: n8n.mattgerega.com
    className: nginx

