persistence:
  postgres-data:
    storageClass: nfs-client
    size: 300Gi
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    identifier: postgres-init-data
    type: configMap
    enabled: true
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
  data:
    storageClass: nfs-client
    size: 2Gi
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
configMaps:
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
route:
  main:
    hostnames:
    - n8n.mattgerega.com
    kind: HTTPRoute
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - weight: 1
        kind: Service
        group: ""
        port: 5678
        identifier: main
    parentRefs:
    - namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
      kind: Gateway
      name: main
    enabled: true
controllers:
  main:
    containers:
      main:
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
        probes:
          liveness:
            custom: false
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            type: TCP
            enabled: true
          startup:
            custom: false
            spec:
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
            type: TCP
            enabled: true
          readiness:
            custom: false
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            type: TCP
            enabled: true
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        image:
          repository: n8nio/n8n
          pullPolicy: IfNotPresent
          tag: 2.1.4
    initContainers:
      volume-permissions:
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
        image:
          repository: busybox
          tag: 1.36
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
    strategy: Recreate
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
    replicas: 1
  postgres:
    containers:
      main:
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        image:
          repository: postgres
          pullPolicy: IfNotPresent
          tag: 17
        envFrom:
        - secretRef:
            name: postgres-secrets
        strategy:
          type: Recreate
    strategy: Recreate
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
    replicas: 1
service:
  main:
    controller: main
    primary: true
    ports:
      http:
        primary: true
        port: 5678
        enabled: true
    type: ClusterIP
  postgres:
    controller: postgres
    primary: false
    ports:
      postgres:
        port: 5432
        enabled: true
    type: ClusterIP

