route:
  main:
    rules:
    - matches:
      - path:
          value: /
          type: PathPrefix
      backendRefs:
      - weight: 1
        group: ""
        identifier: main
        kind: Service
        port: 5678
    hostnames:
    - n8n.mattgerega.com
    enabled: true
    parentRefs:
    - kind: Gateway
      namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
      name: main
    kind: HTTPRoute
configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
  n8n:
    enabled: true
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
controllers:
  main:
    replicas: 1
    initContainers:
      volume-permissions:
        image:
          repository: busybox
          tag: 1.36
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
    enabled: true
    type: deployment
    containers:
      main:
        image:
          repository: n8nio/n8n
          tag: 1.123.5
          pullPolicy: IfNotPresent
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        strategy:
          type: Recreate
        probes:
          startup:
            spec:
              failureThreshold: 30
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
            type: TCP
            enabled: true
            custom: false
          liveness:
            spec:
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
            type: TCP
            enabled: true
            custom: false
          readiness:
            spec:
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
            type: TCP
            enabled: true
            custom: false
    strategy: Recreate
    revisionHistoryLimit: 3
  postgres:
    replicas: 1
    enabled: true
    type: deployment
    containers:
      main:
        image:
          repository: postgres
          tag: 17
          pullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        strategy:
          type: Recreate
    strategy: Recreate
    revisionHistoryLimit: 3
persistence:
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
  postgres-data:
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    enabled: true
    size: 300Gi
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    storageClass: nfs-client
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    identifier: postgres-init-data
    enabled: true
    type: configMap
  data:
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    enabled: true
    size: 2Gi
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    storageClass: nfs-client
service:
  main:
    controller: main
    ports:
      http:
        primary: true
        enabled: true
        port: 5678
    primary: true
    type: ClusterIP
  postgres:
    controller: postgres
    ports:
      postgres:
        enabled: true
        port: 5432
    primary: false
    type: ClusterIP

