service:
  main:
    primary: true
    type: ClusterIP
    controller: main
    ports:
      http:
        primary: true
        port: 5678
        enabled: true
  postgres:
    primary: false
    type: ClusterIP
    controller: postgres
    ports:
      postgres:
        port: 5432
        enabled: true
route:
  main:
    kind: HTTPRoute
    parentRefs:
    - namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
      kind: Gateway
      name: main
    enabled: true
    rules:
    - matches:
      - path:
          value: /
          type: PathPrefix
      backendRefs:
      - kind: Service
        identifier: main
        group: ""
        port: 5678
        weight: 1
    hostnames:
    - n8n.mattgerega.com
persistence:
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    identifier: postgres-init-data
    enabled: true
    type: configMap
  postgres-data:
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    size: 300Gi
    storageClass: nfs-client
  postgres-secrets:
    name: postgres-secrets
    enabled: true
    type: secret
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    size: 2Gi
    storageClass: nfs-client
configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
controllers:
  main:
    type: deployment
    containers:
      main:
        strategy:
          type: Recreate
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
        probes:
          startup:
            enabled: true
            type: TCP
            custom: false
            spec:
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
              initialDelaySeconds: 0
          readiness:
            enabled: true
            type: TCP
            custom: false
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
              initialDelaySeconds: 0
          liveness:
            enabled: true
            type: TCP
            custom: false
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
              initialDelaySeconds: 0
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        image:
          pullPolicy: IfNotPresent
          tag: 2.1.5
          repository: n8nio/n8n
    enabled: true
    replicas: 1
    initContainers:
      volume-permissions:
        image:
          repository: busybox
          tag: 1.36
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
    revisionHistoryLimit: 3
    strategy: Recreate
  postgres:
    type: deployment
    containers:
      main:
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
        envFrom:
        - secretRef:
            name: postgres-secrets
        strategy:
          type: Recreate
    enabled: true
    replicas: 1
    revisionHistoryLimit: 3
    strategy: Recreate

