route:
  main:
    parentRefs:
    - name: main
      group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
    kind: HTTPRoute
    hostnames:
    - n8n.mattgerega.com
    enabled: true
    rules:
    - backendRefs:
      - identifier: main
        weight: 1
        group: ""
        port: 5678
        kind: Service
      matches:
      - path:
          value: /
          type: PathPrefix
persistence:
  postgres-data:
    storageClass: nfs-client
    size: 300Gi
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    type: persistentVolumeClaim
  data:
    storageClass: nfs-client
    size: 2Gi
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    type: persistentVolumeClaim
  postgres-secrets:
    name: postgres-secrets
    type: secret
    enabled: true
  postgres-init-data:
    identifier: postgres-init-data
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
configMaps:
  n8n:
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
    enabled: true
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
service:
  main:
    controller: main
    ports:
      http:
        enabled: true
        port: 5678
        primary: true
    type: ClusterIP
    primary: true
  postgres:
    controller: postgres
    ports:
      postgres:
        port: 5432
        enabled: true
    type: ClusterIP
    primary: false
controllers:
  main:
    revisionHistoryLimit: 3
    strategy: Recreate
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        image:
          repository: busybox
          tag: 1.36
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
    replicas: 1
    containers:
      main:
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        strategy:
          type: Recreate
        probes:
          startup:
            type: TCP
            enabled: true
            custom: false
            spec:
              failureThreshold: 30
              periodSeconds: 5
              initialDelaySeconds: 0
              timeoutSeconds: 1
          readiness:
            type: TCP
            enabled: true
            custom: false
            spec:
              failureThreshold: 3
              periodSeconds: 10
              initialDelaySeconds: 0
              timeoutSeconds: 1
          liveness:
            type: TCP
            enabled: true
            custom: false
            spec:
              failureThreshold: 3
              periodSeconds: 10
              initialDelaySeconds: 0
              timeoutSeconds: 1
        image:
          repository: n8nio/n8n
          tag: 2.3.2
          pullPolicy: IfNotPresent
    enabled: true
    type: deployment
  postgres:
    revisionHistoryLimit: 3
    strategy: Recreate
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        image:
          repository: postgres
          tag: 17
          pullPolicy: IfNotPresent
    enabled: true
    type: deployment

