service:
  postgres:
    type: ClusterIP
    primary: false
    controller: postgres
    ports:
      postgres:
        port: 5432
        enabled: true
  main:
    type: ClusterIP
    primary: true
    controller: main
    ports:
      http:
        port: 5678
        primary: true
        enabled: true
configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
controllers:
  postgres:
    type: deployment
    containers:
      main:
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        envFrom:
        - secretRef:
            name: postgres-secrets
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
        strategy:
          type: Recreate
    revisionHistoryLimit: 3
    strategy: Recreate
    replicas: 1
    enabled: true
  main:
    type: deployment
    containers:
      main:
        probes:
          readiness:
            type: TCP
            spec:
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
            enabled: true
            custom: false
          startup:
            type: TCP
            spec:
              periodSeconds: 5
              initialDelaySeconds: 0
              failureThreshold: 30
              timeoutSeconds: 1
            enabled: true
            custom: false
          liveness:
            type: TCP
            spec:
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
            enabled: true
            custom: false
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
          name: DB_POSTGRESDB_PASSWORD
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        image:
          pullPolicy: IfNotPresent
          tag: 2.2.6
          repository: n8nio/n8n
    revisionHistoryLimit: 3
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        image:
          repository: busybox
          tag: 1.36
    strategy: Recreate
    replicas: 1
    enabled: true
route:
  main:
    kind: HTTPRoute
    parentRefs:
    - namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
      kind: Gateway
      name: main
    enabled: true
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - kind: Service
        port: 5678
        identifier: main
        group: ""
        weight: 1
    hostnames:
    - n8n.mattgerega.com
persistence:
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
  postgres-init-data:
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    identifier: postgres-init-data
  data:
    type: persistentVolumeClaim
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    storageClass: nfs-client
    enabled: true
    size: 2Gi
    accessMode: ReadWriteMany
  postgres-data:
    type: persistentVolumeClaim
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    storageClass: nfs-client
    enabled: true
    size: 300Gi
    accessMode: ReadWriteMany

