ingress:
  main:
    className: nginx
    hosts:
    - host: n8n.mattgerega.com
      paths:
      - pathType: Prefix
        service:
          port: http
          identifier: main
        path: /
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /
      nginx.ingress.kubernetes.io/proxy-body-size: 500M
      kubernetes.io/ingress.class: nginx
configMaps:
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
    enabled: true
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
controllers:
  postgres:
    containers:
      main:
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        envFrom:
        - secretRef:
            name: postgres-secrets
        strategy:
          type: Recreate
        image:
          repository: postgres
          tag: 17
          pullPolicy: IfNotPresent
    strategy: Recreate
    type: deployment
    revisionHistoryLimit: 3
    enabled: true
    replicas: 1
  main:
    containers:
      main:
        probes:
          readiness:
            custom: false
            type: TCP
            spec:
              failureThreshold: 3
              periodSeconds: 10
              initialDelaySeconds: 0
              timeoutSeconds: 1
            enabled: true
          liveness:
            custom: false
            type: TCP
            spec:
              failureThreshold: 3
              periodSeconds: 10
              initialDelaySeconds: 0
              timeoutSeconds: 1
            enabled: true
          startup:
            custom: false
            type: TCP
            spec:
              failureThreshold: 30
              periodSeconds: 5
              initialDelaySeconds: 0
              timeoutSeconds: 1
            enabled: true
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        strategy:
          type: Recreate
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
        image:
          repository: n8nio/n8n
          tag: 1.120.4
          pullPolicy: IfNotPresent
    initContainers:
      volume-permissions:
        image:
          repository: busybox
          tag: 1.36
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
    strategy: Recreate
    type: deployment
    revisionHistoryLimit: 3
    enabled: true
    replicas: 1
persistence:
  postgres-init-data:
    type: configMap
    identifier: postgres-init-data
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    enabled: true
  postgres-secrets:
    name: postgres-secrets
    type: secret
    enabled: true
  postgres-data:
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    size: 300Gi
    enabled: true
    storageClass: nfs-client
  data:
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    size: 2Gi
    enabled: true
    storageClass: nfs-client
service:
  postgres:
    ports:
      postgres:
        port: 5432
        enabled: true
    type: ClusterIP
    controller: postgres
    primary: false
  main:
    ports:
      http:
        port: 5678
        enabled: true
        primary: true
    type: ClusterIP
    controller: main
    primary: true

