configMaps:
  n8n:
    enabled: true
    data:
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
controllers:
  postgres:
    enabled: true
    type: deployment
    revisionHistoryLimit: 3
    replicas: 1
    strategy: Recreate
    containers:
      main:
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        image:
          tag: 17
          pullPolicy: IfNotPresent
          repository: postgres
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
  main:
    enabled: true
    initContainers:
      volume-permissions:
        image:
          tag: 1.36
          repository: busybox
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
    type: deployment
    revisionHistoryLimit: 3
    replicas: 1
    strategy: Recreate
    containers:
      main:
        image:
          tag: 1.122.5
          pullPolicy: IfNotPresent
          repository: n8nio/n8n
        probes:
          startup:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              timeoutSeconds: 1
              periodSeconds: 5
            custom: false
          liveness:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
              periodSeconds: 10
            custom: false
          readiness:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
              periodSeconds: 10
            custom: false
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
        strategy:
          type: Recreate
persistence:
  postgres-data:
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
    size: 300Gi
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    type: persistentVolumeClaim
  data:
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
    size: 2Gi
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    type: persistentVolumeClaim
  postgres-secrets:
    enabled: true
    type: secret
    name: postgres-secrets
  postgres-init-data:
    enabled: true
    type: configMap
    identifier: postgres-init-data
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
route:
  main:
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      name: main
      kind: Gateway
    hostnames:
    - n8n.mattgerega.com
    enabled: true
    kind: HTTPRoute
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - identifier: main
        port: 5678
service:
  postgres:
    primary: false
    type: ClusterIP
    ports:
      postgres:
        enabled: true
        port: 5432
    controller: postgres
  main:
    primary: true
    type: ClusterIP
    ports:
      http:
        primary: true
        enabled: true
        port: 5678
    controller: main

