route:
  main:
    enabled: true
    rules:
    - backendRefs:
      - kind: Service
        identifier: main
        group: ""
        weight: 1
        port: 5678
      matches:
      - path:
          type: PathPrefix
          value: /
    kind: HTTPRoute
    hostnames:
    - n8n.mattgerega.com
    parentRefs:
    - name: main
      kind: Gateway
      group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
service:
  postgres:
    controller: postgres
    primary: false
    type: ClusterIP
    ports:
      postgres:
        port: 5432
        enabled: true
  main:
    controller: main
    primary: true
    type: ClusterIP
    ports:
      http:
        primary: true
        port: 5678
        enabled: true
controllers:
  postgres:
    enabled: true
    revisionHistoryLimit: 3
    containers:
      main:
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
        envFrom:
        - secretRef:
            name: postgres-secrets
        strategy:
          type: Recreate
    replicas: 1
    strategy: Recreate
    type: deployment
  main:
    containers:
      main:
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
          name: DB_POSTGRESDB_PASSWORD
        image:
          pullPolicy: IfNotPresent
          tag: 2.4.6
          repository: n8nio/n8n
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        probes:
          startup:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
          liveness:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
          readiness:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
        strategy:
          type: Recreate
    revisionHistoryLimit: 3
    initContainers:
      volume-permissions:
        image:
          tag: 1.36
          repository: busybox
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
    replicas: 1
    enabled: true
    strategy: Recreate
    type: deployment
persistence:
  postgres-secrets:
    name: postgres-secrets
    type: secret
    enabled: true
  postgres-init-data:
    identifier: postgres-init-data
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
  data:
    enabled: true
    storageClass: nfs-client
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    size: 2Gi
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
  postgres-data:
    enabled: true
    storageClass: nfs-client
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    size: 300Gi
    accessMode: ReadWriteMany
    type: persistentVolumeClaim

