configMaps:
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
    enabled: true
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
service:
  postgres:
    type: ClusterIP
    controller: postgres
    primary: false
    ports:
      postgres:
        enabled: true
        port: 5432
  main:
    type: ClusterIP
    controller: main
    primary: true
    ports:
      http:
        enabled: true
        primary: true
        port: 5678
route:
  main:
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
      name: main
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - weight: 1
        kind: Service
        identifier: main
        group: ""
        port: 5678
    enabled: true
    kind: HTTPRoute
    hostnames:
    - n8n.mattgerega.com
persistence:
  data:
    accessMode: ReadWriteMany
    enabled: true
    type: persistentVolumeClaim
    size: 2Gi
    storageClass: nfs-client
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    enabled: true
    type: configMap
    identifier: postgres-init-data
  postgres-data:
    accessMode: ReadWriteMany
    enabled: true
    type: persistentVolumeClaim
    size: 300Gi
    storageClass: nfs-client
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
controllers:
  postgres:
    revisionHistoryLimit: 3
    enabled: true
    type: deployment
    strategy: Recreate
    replicas: 1
    containers:
      main:
        strategy:
          type: Recreate
        image:
          pullPolicy: IfNotPresent
          repository: postgres
          tag: 17
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        envFrom:
        - secretRef:
            name: postgres-secrets
  main:
    revisionHistoryLimit: 3
    enabled: true
    type: deployment
    initContainers:
      volume-permissions:
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        image:
          tag: 1.36
          repository: busybox
    strategy: Recreate
    replicas: 1
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          repository: n8nio/n8n
          tag: 2.7.4
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
        probes:
          readiness:
            custom: false
            spec:
              periodSeconds: 10
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
            type: TCP
            enabled: true
          liveness:
            custom: false
            spec:
              periodSeconds: 10
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
            type: TCP
            enabled: true
          startup:
            custom: false
            spec:
              periodSeconds: 5
              failureThreshold: 30
              timeoutSeconds: 1
              initialDelaySeconds: 0
            type: TCP
            enabled: true
        strategy:
          type: Recreate

