route:
  main:
    hostnames:
    - n8n.mattgerega.com
    enabled: true
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
      name: main
    kind: HTTPRoute
    rules:
    - backendRefs:
      - weight: 1
        group: ""
        identifier: main
        kind: Service
        port: 5678
      matches:
      - path:
          type: PathPrefix
          value: /
service:
  main:
    primary: true
    type: ClusterIP
    ports:
      http:
        primary: true
        enabled: true
        port: 5678
    controller: main
  postgres:
    primary: false
    type: ClusterIP
    ports:
      postgres:
        port: 5432
        enabled: true
    controller: postgres
controllers:
  main:
    type: deployment
    enabled: true
    strategy: Recreate
    containers:
      main:
        image:
          repository: n8nio/n8n
          pullPolicy: IfNotPresent
          tag: 2.1.2
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
        probes:
          liveness:
            custom: false
            type: TCP
            spec:
              periodSeconds: 10
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
            enabled: true
          startup:
            custom: false
            type: TCP
            spec:
              periodSeconds: 5
              failureThreshold: 30
              timeoutSeconds: 1
              initialDelaySeconds: 0
            enabled: true
          readiness:
            custom: false
            type: TCP
            spec:
              periodSeconds: 10
              failureThreshold: 3
              timeoutSeconds: 1
              initialDelaySeconds: 0
            enabled: true
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        image:
          repository: busybox
          tag: 1.36
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
    replicas: 1
    revisionHistoryLimit: 3
  postgres:
    type: deployment
    enabled: true
    strategy: Recreate
    containers:
      main:
        image:
          repository: postgres
          pullPolicy: IfNotPresent
          tag: 17
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
    replicas: 1
    revisionHistoryLimit: 3
configMaps:
  n8n:
    enabled: true
    data:
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
      N8N_RUNNERS_ENABLED: "true"
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
persistence:
  postgres-data:
    size: 300Gi
    type: persistentVolumeClaim
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
  postgres-secrets:
    type: secret
    name: postgres-secrets
    enabled: true
  data:
    size: 2Gi
    type: persistentVolumeClaim
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
  postgres-init-data:
    type: configMap
    identifier: postgres-init-data
    enabled: true
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh

