persistence:
  postgres-secrets:
    enabled: true
    type: secret
    name: postgres-secrets
  data:
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    enabled: true
    size: 2Gi
    storageClass: nfs-client
  postgres-data:
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    enabled: true
    size: 300Gi
    storageClass: nfs-client
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    enabled: true
    type: configMap
    identifier: postgres-init-data
route:
  main:
    rules:
    - matches:
      - path:
          value: /
          type: PathPrefix
      backendRefs:
      - kind: Service
        group: ""
        weight: 1
        port: 5678
        identifier: main
    kind: HTTPRoute
    parentRefs:
    - namespace: envoy-gateway-system
      kind: Gateway
      group: gateway.networking.k8s.io
      name: main
    enabled: true
    hostnames:
    - n8n.mattgerega.com
configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
    enabled: true
controllers:
  main:
    initContainers:
      volume-permissions:
        image:
          tag: 1.36
          repository: busybox
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
    containers:
      main:
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        probes:
          readiness:
            custom: false
            enabled: true
            spec:
              timeoutSeconds: 1
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
            type: TCP
          startup:
            custom: false
            enabled: true
            spec:
              timeoutSeconds: 1
              failureThreshold: 30
              initialDelaySeconds: 0
              periodSeconds: 5
            type: TCP
          liveness:
            custom: false
            enabled: true
            spec:
              timeoutSeconds: 1
              failureThreshold: 3
              initialDelaySeconds: 0
              periodSeconds: 10
            type: TCP
        image:
          tag: 2.7.5
          pullPolicy: IfNotPresent
          repository: n8nio/n8n
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
    strategy: Recreate
    revisionHistoryLimit: 3
    replicas: 1
    type: deployment
    enabled: true
  postgres:
    containers:
      main:
        image:
          tag: 17
          pullPolicy: IfNotPresent
          repository: postgres
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
    replicas: 1
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
    strategy: Recreate
service:
  main:
    ports:
      http:
        port: 5678
        primary: true
        enabled: true
    primary: true
    controller: main
    type: ClusterIP
  postgres:
    ports:
      postgres:
        port: 5432
        enabled: true
    primary: false
    controller: postgres
    type: ClusterIP

