configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
    enabled: true
persistence:
  data:
    enabled: true
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    type: persistentVolumeClaim
    size: 2Gi
    storageClass: nfs-client
    accessMode: ReadWriteMany
  postgres-secrets:
    type: secret
    name: postgres-secrets
    enabled: true
  postgres-init-data:
    identifier: postgres-init-data
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
  postgres-data:
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    type: persistentVolumeClaim
    size: 300Gi
    storageClass: nfs-client
    accessMode: ReadWriteMany
controllers:
  main:
    enabled: true
    type: deployment
    strategy: Recreate
    initContainers:
      volume-permissions:
        image:
          repository: busybox
          tag: 1.36
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
    revisionHistoryLimit: 3
    containers:
      main:
        strategy:
          type: Recreate
        image:
          pullPolicy: IfNotPresent
          repository: n8nio/n8n
          tag: 1.119.1
        probes:
          liveness:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            custom: false
          startup:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              periodSeconds: 5
              timeoutSeconds: 1
              failureThreshold: 30
            custom: false
          readiness:
            enabled: true
            type: TCP
            spec:
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
            custom: false
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
    replicas: 1
  postgres:
    enabled: true
    type: deployment
    strategy: Recreate
    revisionHistoryLimit: 3
    containers:
      main:
        strategy:
          type: Recreate
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        image:
          pullPolicy: IfNotPresent
          repository: postgres
          tag: 17
        envFrom:
        - secretRef:
            name: postgres-secrets
    replicas: 1
service:
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 5678
        enabled: true
        primary: true
    primary: true
  postgres:
    controller: postgres
    type: ClusterIP
    ports:
      postgres:
        port: 5432
        enabled: true
    primary: false
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 500M
      nginx.ingress.kubernetes.io/rewrite-target: /
      kubernetes.io/ingress.class: nginx
    hosts:
    - paths:
      - path: /
        service:
          port: http
          identifier: main
        pathType: Prefix
      host: n8n.mattgerega.com
    enabled: true
    className: nginx

