service:
  postgres:
    type: ClusterIP
    controller: postgres
    primary: false
    ports:
      postgres:
        port: 5432
        enabled: true
  main:
    type: ClusterIP
    controller: main
    primary: true
    ports:
      http:
        primary: true
        port: 5678
        enabled: true
controllers:
  postgres:
    type: deployment
    strategy: Recreate
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
    revisionHistoryLimit: 3
    enabled: true
    replicas: 1
  main:
    type: deployment
    strategy: Recreate
    containers:
      main:
        strategy:
          type: Recreate
        image:
          pullPolicy: IfNotPresent
          tag: 2.4.5
          repository: n8nio/n8n
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
          name: DB_POSTGRESDB_PASSWORD
        probes:
          startup:
            custom: false
            type: TCP
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 5
              initialDelaySeconds: 0
              failureThreshold: 30
          readiness:
            custom: false
            type: TCP
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
          liveness:
            custom: false
            type: TCP
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              initialDelaySeconds: 0
              failureThreshold: 3
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
    revisionHistoryLimit: 3
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
        image:
          tag: 1.36
          repository: busybox
    enabled: true
    replicas: 1
persistence:
  postgres-data:
    storageClass: nfs-client
    type: persistentVolumeClaim
    size: 300Gi
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
  postgres-init-data:
    type: configMap
    identifier: postgres-init-data
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    enabled: true
  data:
    storageClass: nfs-client
    type: persistentVolumeClaim
    size: 2Gi
    accessMode: ReadWriteMany
    enabled: true
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
configMaps:
  n8n:
    data:
      N8N_PROTOCOL: http
      N8N_RUNNERS_ENABLED: "true"
      N8N_PORT: "5678"
    enabled: true
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
route:
  main:
    hostnames:
    - n8n.mattgerega.com
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - weight: 1
        group: ""
        port: 5678
        kind: Service
        identifier: main
    kind: HTTPRoute
    parentRefs:
    - kind: Gateway
      name: main
      namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
    enabled: true

