persistence:
  postgres-init-data:
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    identifier: postgres-init-data
  postgres-secrets:
    type: secret
    name: postgres-secrets
    enabled: true
  data:
    type: persistentVolumeClaim
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    size: 2Gi
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
  postgres-data:
    type: persistentVolumeClaim
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    size: 300Gi
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
service:
  postgres:
    controller: postgres
    type: ClusterIP
    ports:
      postgres:
        port: 5432
        enabled: true
    primary: false
  main:
    controller: main
    type: ClusterIP
    ports:
      http:
        port: 5678
        enabled: true
        primary: true
    primary: true
configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
      N8N_RUNNERS_ENABLED: "true"
    enabled: true
ingress:
  main:
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /
      nginx.ingress.kubernetes.io/proxy-body-size: 500M
      kubernetes.io/ingress.class: nginx
    enabled: true
    className: nginx
    hosts:
    - paths:
      - pathType: Prefix
        path: /
        service:
          port: http
          identifier: main
      host: n8n.mattgerega.com
controllers:
  postgres:
    strategy: Recreate
    containers:
      main:
        strategy:
          type: Recreate
        image:
          tag: 17
          repository: postgres
          pullPolicy: IfNotPresent
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        envFrom:
        - secretRef:
            name: postgres-secrets
    type: deployment
    replicas: 1
    enabled: true
    revisionHistoryLimit: 3
  main:
    strategy: Recreate
    containers:
      main:
        probes:
          startup:
            type: TCP
            enabled: true
            custom: false
            spec:
              periodSeconds: 5
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 30
          liveness:
            type: TCP
            enabled: true
            custom: false
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
          readiness:
            type: TCP
            enabled: true
            custom: false
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
        image:
          tag: 1.121.2
          repository: n8nio/n8n
          pullPolicy: IfNotPresent
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        image:
          tag: 1.36
          repository: busybox
    type: deployment
    replicas: 1
    enabled: true
    revisionHistoryLimit: 3

