persistence:
  postgres-data:
    size: 300Gi
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    type: persistentVolumeClaim
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
  postgres-init-data:
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    identifier: postgres-init-data
  data:
    size: 2Gi
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    type: persistentVolumeClaim
    enabled: true
    storageClass: nfs-client
    accessMode: ReadWriteMany
  postgres-secrets:
    type: secret
    name: postgres-secrets
    enabled: true
route:
  main:
    enabled: true
    hostnames:
    - n8n.mattgerega.com
    rules:
    - backendRefs:
      - port: 5678
        kind: Service
        identifier: main
        group: ""
        weight: 1
      matches:
      - path:
          value: /
          type: PathPrefix
    kind: HTTPRoute
    parentRefs:
    - kind: Gateway
      namespace: envoy-gateway-system
      name: main
      group: gateway.networking.k8s.io
configMaps:
  n8n:
    enabled: true
    data:
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
      N8N_RUNNERS_ENABLED: "true"
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
controllers:
  postgres:
    containers:
      main:
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        strategy:
          type: Recreate
        image:
          tag: 17
          repository: postgres
          pullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: postgres-secrets
    strategy: Recreate
    replicas: 1
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
  main:
    containers:
      main:
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        strategy:
          type: Recreate
        image:
          tag: 2.4.4
          repository: n8nio/n8n
          pullPolicy: IfNotPresent
        probes:
          startup:
            custom: false
            type: TCP
            enabled: true
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              timeoutSeconds: 1
              periodSeconds: 5
          liveness:
            custom: false
            type: TCP
            enabled: true
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
              periodSeconds: 10
          readiness:
            custom: false
            type: TCP
            enabled: true
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              timeoutSeconds: 1
              periodSeconds: 10
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
    strategy: Recreate
    replicas: 1
    revisionHistoryLimit: 3
    type: deployment
    enabled: true
    initContainers:
      volume-permissions:
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        image:
          tag: 1.36
          repository: busybox
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
service:
  postgres:
    type: ClusterIP
    ports:
      postgres:
        port: 5432
        enabled: true
    primary: false
    controller: postgres
  main:
    type: ClusterIP
    ports:
      http:
        port: 5678
        enabled: true
        primary: true
    primary: true
    controller: main

