persistence:
  postgres-init-data:
    type: configMap
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    identifier: postgres-init-data
    enabled: true
  data:
    storageClass: nfs-client
    type: persistentVolumeClaim
    size: 2Gi
    enabled: true
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    accessMode: ReadWriteMany
  postgres-secrets:
    type: secret
    name: postgres-secrets
    enabled: true
  postgres-data:
    storageClass: nfs-client
    type: persistentVolumeClaim
    size: 300Gi
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    accessMode: ReadWriteMany
route:
  main:
    hostnames:
    - n8n.mattgerega.com
    enabled: true
    kind: HTTPRoute
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - group: ""
        kind: Service
        port: 5678
        weight: 1
        identifier: main
    parentRefs:
    - name: main
      namespace: envoy-gateway-system
      kind: Gateway
      group: gateway.networking.k8s.io
configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
    enabled: true
service:
  main:
    type: ClusterIP
    ports:
      http:
        enabled: true
        primary: true
        port: 5678
    controller: main
    primary: true
  postgres:
    type: ClusterIP
    ports:
      postgres:
        enabled: true
        port: 5432
    controller: postgres
    primary: false
controllers:
  main:
    type: deployment
    strategy: Recreate
    enabled: true
    containers:
      main:
        probes:
          startup:
            type: TCP
            custom: false
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 5
              failureThreshold: 30
              initialDelaySeconds: 0
          liveness:
            type: TCP
            custom: false
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
              initialDelaySeconds: 0
          readiness:
            type: TCP
            custom: false
            enabled: true
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
              initialDelaySeconds: 0
        image:
          repository: n8nio/n8n
          pullPolicy: IfNotPresent
          tag: 2.2.4
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
    revisionHistoryLimit: 3
    replicas: 1
    initContainers:
      volume-permissions:
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
        image:
          tag: 1.36
          repository: busybox
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
  postgres:
    type: deployment
    strategy: Recreate
    enabled: true
    containers:
      main:
        strategy:
          type: Recreate
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        image:
          repository: postgres
          pullPolicy: IfNotPresent
          tag: 17
        envFrom:
        - secretRef:
            name: postgres-secrets
    revisionHistoryLimit: 3
    replicas: 1

