service:
  main:
    type: ClusterIP
    primary: true
    ports:
      http:
        primary: true
        enabled: true
        port: 5678
    controller: main
  postgres:
    type: ClusterIP
    primary: false
    ports:
      postgres:
        enabled: true
        port: 5432
    controller: postgres
controllers:
  main:
    enabled: true
    strategy: Recreate
    revisionHistoryLimit: 3
    replicas: 1
    initContainers:
      volume-permissions:
        image:
          tag: 1.36
          repository: busybox
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
    type: deployment
    containers:
      main:
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
          name: DB_POSTGRESDB_PASSWORD
        image:
          pullPolicy: IfNotPresent
          tag: 2.2.3
          repository: n8nio/n8n
        strategy:
          type: Recreate
        probes:
          startup:
            type: TCP
            custom: false
            enabled: true
            spec:
              periodSeconds: 5
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 30
          readiness:
            type: TCP
            custom: false
            enabled: true
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
          liveness:
            type: TCP
            custom: false
            enabled: true
            spec:
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
  postgres:
    enabled: true
    strategy: Recreate
    revisionHistoryLimit: 3
    replicas: 1
    type: deployment
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
configMaps:
  n8n:
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
    enabled: true
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
route:
  main:
    enabled: true
    rules:
    - matches:
      - path:
          type: PathPrefix
          value: /
      backendRefs:
      - group: ""
        identifier: main
        port: 5678
        kind: Service
        weight: 1
    parentRefs:
    - group: gateway.networking.k8s.io
      namespace: envoy-gateway-system
      kind: Gateway
      name: main
    kind: HTTPRoute
    hostnames:
    - n8n.mattgerega.com
persistence:
  postgres-data:
    enabled: true
    accessMode: ReadWriteMany
    size: 300Gi
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    storageClass: nfs-client
    type: persistentVolumeClaim
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    type: configMap
    enabled: true
    identifier: postgres-init-data
  data:
    enabled: true
    accessMode: ReadWriteMany
    size: 2Gi
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    storageClass: nfs-client
    type: persistentVolumeClaim
  postgres-secrets:
    type: secret
    name: postgres-secrets
    enabled: true

