configMaps:
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
service:
  postgres:
    primary: false
    type: ClusterIP
    ports:
      postgres:
        port: 5432
        enabled: true
    controller: postgres
  main:
    primary: true
    type: ClusterIP
    ports:
      http:
        port: 5678
        primary: true
        enabled: true
    controller: main
route:
  main:
    parentRefs:
    - namespace: envoy-gateway-system
      kind: Gateway
      group: gateway.networking.k8s.io
      name: main
    rules:
    - backendRefs:
      - kind: Service
        identifier: main
        group: ""
        port: 5678
        weight: 1
      matches:
      - path:
          type: PathPrefix
          value: /
    kind: HTTPRoute
    enabled: true
    hostnames:
    - n8n.mattgerega.com
controllers:
  postgres:
    type: deployment
    enabled: true
    replicas: 1
    strategy: Recreate
    containers:
      main:
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        strategy:
          type: Recreate
        envFrom:
        - secretRef:
            name: postgres-secrets
        image:
          repository: postgres
          tag: 17
          pullPolicy: IfNotPresent
    revisionHistoryLimit: 3
  main:
    type: deployment
    enabled: true
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        image:
          repository: busybox
          tag: 1.36
    replicas: 1
    strategy: Recreate
    containers:
      main:
        probes:
          startup:
            custom: false
            type: TCP
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
              initialDelaySeconds: 0
          readiness:
            custom: false
            type: TCP
            enabled: true
            spec:
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
          liveness:
            custom: false
            type: TCP
            enabled: true
            spec:
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
              initialDelaySeconds: 0
        strategy:
          type: Recreate
        image:
          repository: n8nio/n8n
          tag: 2.4.8
          pullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
    revisionHistoryLimit: 3
persistence:
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets
  postgres-data:
    type: persistentVolumeClaim
    size: 300Gi
    enabled: true
    accessMode: ReadWriteMany
    storageClass: nfs-client
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
  postgres-init-data:
    type: configMap
    enabled: true
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    identifier: postgres-init-data
  data:
    type: persistentVolumeClaim
    size: 2Gi
    enabled: true
    accessMode: ReadWriteMany
    storageClass: nfs-client
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n

