configMaps:
  n8n:
    data:
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
      N8N_RUNNERS_ENABLED: "true"
    enabled: true
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
controllers:
  postgres:
    revisionHistoryLimit: 3
    strategy: Recreate
    type: deployment
    containers:
      main:
        envFrom:
        - secretRef:
            name: postgres-secrets
        strategy:
          type: Recreate
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
    enabled: true
    replicas: 1
  main:
    revisionHistoryLimit: 3
    strategy: Recreate
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        image:
          tag: 1.36
          repository: busybox
    type: deployment
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          tag: 2.0.2
          repository: n8nio/n8n
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        probes:
          startup:
            spec:
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
              timeoutSeconds: 1
            type: TCP
            custom: false
            enabled: true
          readiness:
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
            type: TCP
            custom: false
            enabled: true
          liveness:
            spec:
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
              timeoutSeconds: 1
            type: TCP
            custom: false
            enabled: true
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_USER
              name: postgres-secrets
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              key: POSTGRES_NON_ROOT_PASSWORD
              name: postgres-secrets
          name: DB_POSTGRESDB_PASSWORD
    enabled: true
    replicas: 1
route:
  main:
    rules:
    - backendRefs:
      - identifier: main
        weight: 1
        group: ""
        kind: Service
        port: 5678
      matches:
      - path:
          type: PathPrefix
          value: /
    kind: HTTPRoute
    parentRefs:
    - name: main
      kind: Gateway
      namespace: envoy-gateway-system
      group: gateway.networking.k8s.io
    enabled: true
    hostnames:
    - n8n.mattgerega.com
service:
  postgres:
    primary: false
    ports:
      postgres:
        enabled: true
        port: 5432
    controller: postgres
    type: ClusterIP
  main:
    primary: true
    ports:
      http:
        primary: true
        enabled: true
        port: 5678
    controller: main
    type: ClusterIP
persistence:
  postgres-data:
    accessMode: ReadWriteMany
    storageClass: nfs-client
    type: persistentVolumeClaim
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    enabled: true
    size: 300Gi
  data:
    accessMode: ReadWriteMany
    storageClass: nfs-client
    type: persistentVolumeClaim
    advancedMounts:
      main:
        volume-permissions:
        - path: /home/node/.n8n
        main:
        - path: /home/node/.n8n
    enabled: true
    size: 2Gi
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    type: configMap
    enabled: true
    identifier: postgres-init-data
  postgres-secrets:
    type: secret
    enabled: true
    name: postgres-secrets

