persistence:
  postgres-secrets:
    name: postgres-secrets
    enabled: true
    type: secret
  postgres-init-data:
    enabled: true
    identifier: postgres-init-data
    type: configMap
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
  data:
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    storageClass: nfs-client
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    enabled: true
    size: 2Gi
  postgres-data:
    accessMode: ReadWriteMany
    type: persistentVolumeClaim
    storageClass: nfs-client
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    enabled: true
    size: 300Gi
service:
  main:
    controller: main
    primary: true
    ports:
      http:
        enabled: true
        primary: true
        port: 5678
    type: ClusterIP
  postgres:
    controller: postgres
    primary: false
    ports:
      postgres:
        enabled: true
        port: 5432
    type: ClusterIP
route:
  main:
    kind: HTTPRoute
    enabled: true
    hostnames:
    - n8n.mattgerega.com
    rules:
    - matches:
      - path:
          value: /
          type: PathPrefix
      backendRefs:
      - group: ""
        kind: Service
        weight: 1
        identifier: main
        port: 5678
    parentRefs:
    - name: main
      namespace: envoy-gateway-system
      kind: Gateway
      group: gateway.networking.k8s.io
controllers:
  main:
    revisionHistoryLimit: 3
    initContainers:
      volume-permissions:
        image:
          tag: 1.36
          repository: busybox
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
    replicas: 1
    strategy: Recreate
    enabled: true
    containers:
      main:
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
        strategy:
          type: Recreate
        probes:
          readiness:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
          liveness:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
          startup:
            type: TCP
            enabled: true
            custom: false
            spec:
              initialDelaySeconds: 0
              timeoutSeconds: 1
              periodSeconds: 5
              failureThreshold: 30
        image:
          tag: 2.3.6
          repository: n8nio/n8n
          pullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
    type: deployment
  postgres:
    revisionHistoryLimit: 3
    type: deployment
    replicas: 1
    strategy: Recreate
    enabled: true
    containers:
      main:
        image:
          tag: 17
          repository: postgres
          pullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: postgres-secrets
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        strategy:
          type: Recreate
configMaps:
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PROTOCOL: http
      N8N_PORT: "5678"
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi

