configMaps:
  n8n:
    enabled: true
    data:
      N8N_RUNNERS_ENABLED: "true"
      N8N_PORT: "5678"
      N8N_PROTOCOL: http
  postgres-init-data:
    enabled: true
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
route:
  main:
    rules:
    - backendRefs:
      - port: 5678
        identifier: main
      matches:
      - path:
          value: /
          type: PathPrefix
    kind: HTTPRoute
    enabled: true
    parentRefs:
    - namespace: envoy-gateway-system
      name: main
      group: gateway.networking.k8s.io
      kind: Gateway
    hostnames:
    - n8n.mattgerega.com
persistence:
  postgres-secrets:
    enabled: true
    name: postgres-secrets
    type: secret
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    enabled: true
    storageClass: nfs-client
    size: 2Gi
  postgres-data:
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    enabled: true
    storageClass: nfs-client
    size: 300Gi
  postgres-init-data:
    enabled: true
    type: configMap
    advancedMounts:
      postgres:
        main:
        - path: /docker-entrypoint-initdb.d/init-n8n-user.sh
          subPath: init-data.sh
    identifier: postgres-init-data
service:
  main:
    controller: main
    ports:
      http:
        enabled: true
        port: 5678
        primary: true
    type: ClusterIP
    primary: true
  postgres:
    controller: postgres
    ports:
      postgres:
        enabled: true
        port: 5432
    type: ClusterIP
    primary: false
controllers:
  main:
    strategy: Recreate
    replicas: 1
    type: deployment
    containers:
      main:
        strategy:
          type: Recreate
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        image:
          pullPolicy: IfNotPresent
          repository: n8nio/n8n
          tag: 1.123.4
        probes:
          readiness:
            custom: false
            enabled: true
            type: TCP
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
              initialDelaySeconds: 0
          startup:
            custom: false
            enabled: true
            type: TCP
            spec:
              timeoutSeconds: 1
              periodSeconds: 5
              failureThreshold: 30
              initialDelaySeconds: 0
          liveness:
            custom: false
            enabled: true
            type: TCP
            spec:
              timeoutSeconds: 1
              periodSeconds: 10
              failureThreshold: 3
              initialDelaySeconds: 0
        env:
        - value: postgresdb
          name: DB_TYPE
        - value: '{{ .Release.Name }}-postgres'
          name: DB_POSTGRESDB_HOST
        - value: 5432
          name: DB_POSTGRESDB_PORT
        - value: n8n
          name: DB_POSTGRESDB_DATABASE
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
          name: DB_POSTGRESDB_USER
        - valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
          name: DB_POSTGRESDB_PASSWORD
    enabled: true
    revisionHistoryLimit: 3
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - mountPath: /home/node/.n8n
          name: '{{ .Release.Name }}-data'
        image:
          repository: busybox
          tag: 1.36
  postgres:
    strategy: Recreate
    replicas: 1
    type: deployment
    containers:
      main:
        env:
        - value: 5432
          name: POSTGRES_PORT
        - value: postgres-service
          name: POSTGRES_HOST
        - value: n8n
          name: POSTGRES_DB
        envFrom:
        - secretRef:
            name: postgres-secrets
        strategy:
          type: Recreate
        image:
          pullPolicy: IfNotPresent
          repository: postgres
          tag: 17
    enabled: true
    revisionHistoryLimit: 3

