ingress:
  main:
    hosts:
    - host: n8n.mattgerega.com
      paths:
      - pathType: Prefix
        service:
          identifier: main
          port: http
        path: /
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: 500M
      nginx.ingress.kubernetes.io/rewrite-target: /
      kubernetes.io/ingress.class: nginx
    className: nginx
service:
  postgres:
    ports:
      postgres:
        port: 5432
        enabled: true
    controller: postgres
    primary: false
    type: ClusterIP
  main:
    ports:
      http:
        port: 5678
        enabled: true
        primary: true
    controller: main
    primary: true
    type: ClusterIP
controllers:
  postgres:
    strategy: Recreate
    enabled: true
    containers:
      main:
        strategy:
          type: Recreate
        env:
        - name: POSTGRES_PORT
          value: 5432
        - name: POSTGRES_HOST
          value: postgres-service
        - name: POSTGRES_DB
          value: n8n
        envFrom:
        - secretRef:
            name: postgres-secrets
        image:
          pullPolicy: IfNotPresent
          tag: 17
          repository: postgres
    type: deployment
    revisionHistoryLimit: 3
    replicas: 1
  main:
    strategy: Recreate
    enabled: true
    initContainers:
      volume-permissions:
        command:
        - sh
        - -c
        - chown 1000:1000 /home/node/.n8n
        volumeMounts:
        - name: '{{ .Release.Name }}-data'
          mountPath: /home/node/.n8n
        image:
          repository: busybox
          tag: 1.36
    containers:
      main:
        image:
          pullPolicy: IfNotPresent
          tag: 1.119.2
          repository: n8nio/n8n
        envFrom:
        - configMapRef:
            name: '{{ .Release.Name }}'
        strategy:
          type: Recreate
        env:
        - name: DB_TYPE
          value: postgresdb
        - name: DB_POSTGRESDB_HOST
          value: '{{ .Release.Name }}-postgres'
        - name: DB_POSTGRESDB_PORT
          value: 5432
        - name: DB_POSTGRESDB_DATABASE
          value: n8n
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secrets
              key: POSTGRES_NON_ROOT_PASSWORD
        probes:
          readiness:
            spec:
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
            enabled: true
            custom: false
            type: TCP
          startup:
            spec:
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 30
              periodSeconds: 5
            enabled: true
            custom: false
            type: TCP
          liveness:
            spec:
              timeoutSeconds: 1
              initialDelaySeconds: 0
              failureThreshold: 3
              periodSeconds: 10
            enabled: true
            custom: false
            type: TCP
    type: deployment
    revisionHistoryLimit: 3
    replicas: 1
configMaps:
  postgres-init-data:
    data:
      init-data.sh: |
        #!/bin/bash
        set -e;
        if [ -n "${POSTGRES_NON_ROOT_USER:-}" ] && [ -n "${POSTGRES_NON_ROOT_PASSWORD:-}" ]; then
          psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
            CREATE USER "${POSTGRES_NON_ROOT_USER}" WITH PASSWORD '${POSTGRES_NON_ROOT_PASSWORD}';
            GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO "${POSTGRES_NON_ROOT_USER}";
        EOSQL
        else
          echo "SETUP INFO: No Environment variables given!"
        fi
    enabled: true
  n8n:
    data:
      N8N_PROTOCOL: http
      N8N_RUNNERS_ENABLED: "true"
      N8N_PORT: "5678"
    enabled: true
persistence:
  data:
    size: 2Gi
    storageClass: nfs-client
    enabled: true
    advancedMounts:
      main:
        main:
        - path: /home/node/.n8n
        volume-permissions:
        - path: /home/node/.n8n
    type: persistentVolumeClaim
    accessMode: ReadWriteMany
  postgres-init-data:
    advancedMounts:
      postgres:
        main:
        - subPath: init-data.sh
          path: /docker-entrypoint-initdb.d/init-n8n-user.sh
    identifier: postgres-init-data
    enabled: true
    type: configMap
  postgres-secrets:
    enabled: true
    name: postgres-secrets
    type: secret
  postgres-data:
    size: 300Gi
    storageClass: nfs-client
    enabled: true
    advancedMounts:
      postgres:
        main:
        - path: /var/lib/postgresql/data
    type: persistentVolumeClaim
    accessMode: ReadWriteMany

